<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2><%= link_to "About", about_index_path %></h2>
    <hr>
    <div class="aboutText">
      <figure>
        <blockquote cite="http://www.cheatsheet.com/technology/20-most-memorable-quotes-from-steve-jobs.html/?a=viewall">Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn’t really do it, they just saw something. It seemed obvious to them after a while.</blockquote>
        <figcaption>— Steve Jobs</figcaption>
      </figure>
    </div>
  </div>

  <div class="col-2 homepage_content">
    <h2><%= link_to "Blog", posts_path %></h2>
    <hr>

    <p>
      Coming Soon!
    </p>

    <!--
    <% @posts.each do |post| %>
    <h3><a href="#"><%= link_to post.title, post %></a></h3>
    <P class="date"><%= post.created_at.strftime("%A, %b, %d")%></P>
    <% end %> -->
  </div>

  <div class="col-3 homepage_content">
    <h2><%= link_to "Projects", projects_path %></h2>
    <hr>

    <% @projects.each do |project| %>
    <h3><a href="#"><%= link_to project.title, project %></a></h3>
    <P class="date"><%= project.created_at.strftime("%A, %b, %d")%></P>
    <% end %>
  </div>
</div><!-- end of main content wrapper -->
