<!DOCTYPE html>
<html>
<head>
  <title>Anthony Rosario - Web/Mobile Developer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_navigation">
    <nav>
      <a  class="home" href="#">Home</a>
      <%= link_to "Blog", posts_path %>
      <a href="#">Projects</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </nav>
    <h1>Anthony Rosario</h1>

    <div class="description">
      <p >Web/Mobile Developer</p>
    </div>
  </header>

<%= yield %>

  <footer>
    <div class="fluid-container">

      <div><a href="https://github.com/ajrosario08" target="_blank"><i class="fa fa-github"></i></a>
        <p>&copy; 2016 Anthony Rosario</p>
      </div>

    </div>
  </footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
