<!DOCTYPE html>
<html>
<head>
  <title>Anthony Rosario</title>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_navigation">
    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "Blog", posts_path %>
      <%= link_to "Projects", projects_path %>
      <%= link_to "About", about_index_path %>
      <%= link_to "Contact", new_contact_path %>
      <%= link_to "Sample Code", sample_index_path %>

      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>

    <h1 class="name">Anthony Rosario</h1>
    <p>Web/Mobile Developer</p>
  </header>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

<%= yield %>

  <footer id="main_footer">
    <div>
      <a href="https://github.com/ajrosario08" target="_blank"><i class="github fa fa-github"></i></a>
      <p>&copy; 2016 Anthony Rosario</p>
    </div>
  </footer>

</body>
</html>
